<h1 class="titulo">ALIMENTOS</h1>

    <table class="mat-elevation-z8">
       <thead>
        <tr>
            <th class="mat-header-cell">NOME</th>
            <th class="mat-header-cell">CALORIAS</th>
            <th class="mat-header-cell">EDITAR</th>
            <th class="mat-header-cell">DELETAR</th>                         
        </tr>        
       </thead>

       <tbody>
        <tr>
            <td class="mat-cell">Maçã</td>
            <td class="mat-cell">5</td>            
            
            <td class="mat-cell">
                <button mat-icon-button data-bs-toggle="modal" data-bs-target="#editar-modal-alimentos">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td class="mat-cell">
                <button mat-icon-button data-bs-toggle="modal" data-bs-target="#excluir-modal-alimentos">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
       </tbody>
    </table>

    <div class ="custom-class">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar Alimentos
          </button> 

    </div>        
     
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Alimentos</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="excluir-modal-alimentos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Deseja realmente excluir?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
              <button type="button" class="btn btn-danger">Excluir</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editar-modal-alimentos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Deseja realmente alterar?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
              <button type="button" class="btn btn-danger">Excluir</button>
            </div>
          </div>
        </div>
      </div>
