<h1 class="titulo">ATIVIDADES</h1>

    <table class="mat-elevation-z8">
       <thead>
        <tr>
            <th class="mat-header-cell">DESCRIÇÃO</th>
            <th class="mat-header-cell">EDITAR</th>
            <th class="mat-header-cell">EXCLUIR</th>
                           
        </tr>        
       </thead>

       <tbody>
        <tr *ngFor="let atividade of atividades; let i = index">
            <td class="mat-cell">{{atividade.descricao}}</td>
            
            <td class="mat-cell">
                <button (click)="pegarElemento(atividades[i])" mat-icon-button data-bs-toggle="modal" data-bs-target="#editar-modal-atividades">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td class="mat-cell">
                <button (click)="pegarElemento(atividades[i])" mat-icon-button data-bs-toggle="modal" data-bs-target="#deletar-modal-atividades">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
       </tbody>
    </table>

    <div class ="custom-class">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-adiconar-atividades">
            Adicionar Atividade
          </button> 
    </div>        
     
      <div class="modal fade" id="modal-adiconar-atividades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Atividade</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup] = "formCadastro">
                    <label>Informe o nome da atividade</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                        <input formControlName="descricao" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>    
                </form>                          
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button (click)="post()" type="button" class="btn btn-primary " data-bs-dismiss="modal">Salvar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deletar-modal-atividades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Deseja realmente excluir?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
              <button (click)="delete(itemSelecionado)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Excluir</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editar-modal-atividades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup] = "formUpdate">
                    <label>Informe o nome da atividade</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                        <input formControlName="descricao" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
              <button (click)="update()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Alterar</button>
            </div>
          </div>
        </div>
      </div>
